$colorWhite: #dddddd
$colorRed: #f05454
$colorBlueDark: #30475e
$colorBlack: #222831

body
    margin: 0
    background-color: $colorBlueDark

// Navbar Component

.navbar
    background-color: $colorBlack
    color: $colorRed
    font-family: 'Quicksand'


.navbar-container
    display: flex
    align-items: center
    max-width: 75%
    margin: auto
    justify-content: space-between
    .search
        input
            padding: 10px
            outline: none
            margin: 0rem 0.1rem
        button
            color: $colorRed
            padding: 9.5px 10px
            font-family: 'Quicksand'
            font-weight: 800
            cursor: pointer